@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

/* Material UI base styles */
@layer base {
  h1 {
    font: var(--mui-font-h1);
    letter-spacing: -0.01562em;
  }
  h2 {
    font: var(--mui-font-h2);
    letter-spacing: -0.00833em;
  }
  h3 {
    font: var(--mui-font-h3);
  }
  h4 {
    font: var(--mui-font-h4);
    letter-spacing: 0.00735em;
  }
  h5 {
    font: var(--mui-font-h5);
  }
  h6 {
    font: var(--mui-font-h6);
    letter-spacing: 0.0075em;
  }
  p {
    font: var(--mui-font-body1);
    letter-spacing: 0.00938em;
  }
  span {
    font: var(--mui-font-body2);
    letter-spacing: 0.01071em;
  }
}
@theme {
  --color-primary: #ff00ff;
}
.card {
  background-color: color-mix(in srgb, var(--color-gray-800) 50%, transparent);
  backdrop-filter: blur(24px);
  border-radius: 1rem;
  box-shadow: var(--shadow-2xl);
  border: 1px solid color-mix(in srgb, var(--color-gray-700) 50%, transparent);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  border-color: color-mix(in srgb, var(--color-blue-500) 50%, transparent);
}
